{{#paper-toolbar class="app-toolbar md-whiteframe-1dp" as |toolbar|}}
  {{#toolbar.tools}}
    {{#unless media.isGtSm}}
      {{#paper-button iconButton=true click=(action "toggleMenu")}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/unless}}
    <h2>Puzzle Slider Game</h2>
  {{/toolbar.tools}}
{{/paper-toolbar}}
