{{#paper-list class="leaderboard-list"}}
  {{#vertical-collection
    items = items
    defaultHeight = 72
    bufferSize = 1
    as |item|
    }}
    {{#paper-item
      class = (concat
      (if (eq item.id bestTime.id) "leaderboard-mybest " "")
      "layout-align-start-stretch md-2-line"
      )
      }}
      <div class="leaderboard-rank flex-20 layout-row layout-align-start-center">
        {{~item.rank~}}
      </div>
      <div class="flex layout-column layout-align-center-start">
        <div>{{item.name}}</div>
        <small>
          {{~format-timer item.time~}}
          &nbsp;-&nbsp;
          {{~moment-format item.date 'DD.MM.YYYY'~}}
        </small>
      </div>
    {{/paper-item}}
  {{/vertical-collection}}
{{/paper-list}}
