@import 'puzzle-theme';
@import 'custom-paper';
@import 'reset';
@import 'utils';
@import 'typo';
@import 'game/slider';
@import 'components/app-sidenav';
@import 'components/app-toolbar';
@import 'components/game-timer';
@import 'components/puzzle-slide';
@import 'components/menu-item';
@import 'pages/intro';
@import 'pages/play-success';
@import 'pages/submit-time';

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background-image: url(pictures/background.svg),
                    linear-gradient(to bottom, #238bca, #1e5a96);
  background-position: bottom right, top;
  background-repeat: no-repeat, no-repeat;
  color: rgba(255, 255, 255, 0.87);
}

[data-ember-action] {
  cursor: pointer;
}

main {
  background-color: transparent;
  transition: background-color 300ms;
  overflow: hidden;
}

.application-outlet > .liquid-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 8px;
}

.app-version {
  color: rgba(0,0,0,0);
  position: absolute;
  bottom: 0.25rem;
  right: 0.5rem;
  pointer-events: none;
}

.slick-dots li button::before {
  color: #fff !important;
  font-size: 8px;
}

.leaderboard-list {
  display: flex;
  flex: 1;
  margin: -8px;
  background: #fff;
  color: #333;
  overflow: hidden;
}

.leaderboard-list > md-list {
  flex: 1;
}

.leaderboard-list vertical-item {
  contain: strict;
}

.leaderboard-mybest {
  background-color: #3b7bbe;
  color: #fff;
}

.leaderboard-list md-list-item > .md-list-item-inner {
  align-items: stretch;
}

.ember-notify {
  background: #fff;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.alert {
  border-radius: 2px;
}

.alert.alert-danger {
  background: #ea6666;
  border-color: #ec8888;
}

md-input-container .paper-input-error {
  line-height: 1.35
}
