@import 'puzzle-theme';
@import 'custom-paper';
@import 'reset';
@import 'game/slider';
@import 'components/app-sidenav';
@import 'components/app-toolbar';
@import 'components/game-timer';
@import 'components/puzzle-slide';
@import 'components/menu-item';
@import 'pages/intro';

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  background-color: $base-background-color;
  background-image: url(pictures/background.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.87);
}

[data-ember-action] {
  cursor: pointer;
}

.application-outlet > .liquid-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-version {
  color: rgba(0,0,0,0);
  position: absolute;
  bottom: 0.25rem;
  right: 0.5rem;
  pointer-events: none;
}

.slick-dots li button::before {
  color: white !important;
  font-size: 8px;
}
