@import 'custom-paper';
@import 'reset';
@import 'game/slider';
@import 'components/game-timer';
@import 'components/puzzle-slide';
@import 'pages/intro';

.application-outlet > .liquid-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  min-height: 100vh;
}
