// Icon spinners (not part of angular-material)
.md-spin {
   animation: md-spin 1.5s infinite linear;
}

.md-spin-reverse {
  animation: md-spin-reverse 1.5s infinite linear;
}

// Spin
@keyframes md-spin {
  0% {
    transform: rotate(0deg);
   }
  100% {
    transform: rotate(359deg);
  }
}

// Spin Reverse
@keyframes md-spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}

@import 'color-palette';
@import 'default-theme';

@import './angular-material/core/style/mixins';
@import './angular-material/core/style/variables';
@import './angular-material/core/style/structure';
@import './angular-material/core/style/typography';

@import './angular-material/core/services/layout/layout.scss';

@import './angular-material/components/content/content';
@import './angular-material/components/content/content-theme';

@import './angular-material/components/card/card';
@import './angular-material/components/card/card-theme';

@import './angular-material/components/button/button';
@import './angular-material/components/button/button-theme';

@import './angular-material/components/input/input';
@import './angular-material/components/input/input-theme';

@import './angular-material/components/list/list';
@import './angular-material/components/list/list-theme';

@import './angular-material/components/divider/divider';
@import './angular-material/components/divider/divider-theme';

@import './angular-material/components/whiteframe/whiteframe';

@import './angular-material/components/toolbar/toolbar';
@import './angular-material/components/toolbar/toolbar-theme';

@import './angular-material/components/icon/icon';
@import './angular-material/components/icon/icon-theme';

@import './angular-material/components/subheader/subheader';
@import './angular-material/components/subheader/subheader-theme';

@import './angular-material/components/sidenav/sidenav';
@import './angular-material/components/sidenav/sidenav-theme';

@import './angular-material/components/backdrop/backdrop';
@import './angular-material/components/backdrop/backdrop-theme';

// Backports of features from future versions of angular-material-source to this version
@import './backports/paper-input';
@import './backports/ripple';
