puzzle-board, slider-tile {
  display: block;
  -webkit-tap-highlight-color: transparent;
}

puzzle-board {
  contain: strict;
  display: block;
  position: relative;
  touch-action: pan-x pan-y;
  --tiles: var(--puzzle-tiles, 3);
  --width: var(--puzzle-width, 300px);
  --height: var(--puzzle-height, 300px);
  --tile-width: var(--width) / var(--tiles);
  --tile-height: var(--height) / var(--tiles);
  --src: var(--puzzle-src, url('https://topaxi.ch/puzzle-slide/puzzle.svg'));
  width: var(--width);
  height: var(--height);
  background-color: black;
  border: 1px solid black;
  user-select: none;
}

puzzle-board::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: var(--src);
  background-size: var(--width) var(--height);
  filter: opacity(30%) blur(1px) contrast(0.75) grayscale(1);
}

slider-tile {
  contain: strict;
  transition: transform 300ms;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  box-sizing: border-box;
  background-clip: content-box;
  width: calc(var(--tile-width));
  height: calc(var(--tile-height));
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--src);
  background-size: var(--width) var(--height);
  background-position:
    calc(var(--tile-width) * var(--tile-x) * -1)
    calc(var(--tile-height) * var(--tile-y) * -1);
  transform: translate3d(
    calc(var(--tile-width) * var(--tile-pos-x)),
    calc(var(--tile-height) * var(--tile-pos-y)),
    0
  );
}

slider-tile:hover {
  will-change: transform;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes flash {
  50% {
    filter: brightness(3);
  }
  100% {
    filter: none;
  }
}

.empty-tile {
  transition: none;
  animation: flash 300ms 600ms 2,
             fadeout 400ms 1200ms forwards;
}

puzzle-board.solved, .solved > slider-tile {
  transition: border-color 500ms;
  border-color: rgba(0,0,0,0);
}

.solved > .empty-tile {
  animation: fadeout 400ms reverse;
}
