.sidenav-container {
  height: 100vh;
}

.sidenav-container .md-list-item-inner md-icon {
  margin-left: 0;
}

.sidenav-container md-sidenav > md-toolbar {
  height: 124px;
  background-image: url(pictures/menu-background.svg);
  background-repeat: no-repeat;
  background-size: 93px;
}

.sidenav-container md-sidenav > md-toolbar > .md-toolbar-tools {
  height: 100%;
  max-height: 100%;
  align-items: stretch;
  flex-direction: column;
}

.sidenav-container md-sidenav .game-timer-best {
  font-size: 1rem;
  font-weight: bold;
}

.sidenav-container md-sidenav .game-timer-best > .paper-icon {
  position: absolute;
  top: 32px;
  left: 12px;
}

.sidenav-container md-sidenav .game-timer-best-date {
  font-size: 0.666rem;
  margin-top: -2px;
  margin-bottom: 0.75rem;
}

.menu-logo {
  margin-top: 0.5rem;
  width: 116px;
  height: 30px;
  align-self: flex-start;
}
