puzzle-slide > puzzle-board {
  margin: 10px 16px;
  background-color: #46bcc0;
  border: none;
  height: calc(var(--height) + 1px);
}

puzzle-slide > puzzle-board::before {
  display: none;
}

puzzle-slide > puzzle-board > slider-tile,
puzzle-slide > puzzle-board > slider-tile-shadow {
  top: 0.5px;
  left: 0.5px;
  width: calc(var(--tile-width) - 1px);
  height: calc(var(--tile-height) - 1px);
}

puzzle-slide > puzzle-board > slider-tile {
  border: none;
  z-index: 1;
}

puzzle-slide > puzzle-board > slider-tile-shadow {
  display: block;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.33);
  z-index: 0;
}

puzzle-slide > puzzle-board > .empty-tile + slider-tile-shadow {
  display: none;
}

puzzle-slide > puzzle-board.solved > slider-tile {
  top: 0;
  left: 0;
  width: calc(var(--tile-width));
  height: calc(var(--tile-height));
  box-shadow: none;
}

game-timer, #subtoolbar .game-timer-best {
  margin-left: 54px;
}

game-timer {
  font-size: 1.5rem;
  margin-top: 0.33rem;
}

#subtoolbar .game-timer-best {
  font-size: 1rem;
  margin-bottom: 0.2rem;
}
