.page-intro .application-outlet,
.page-intro .application-outlet > .liquid-child {
  overflow: visible;
}

.page-intro .app-toolbar {
  transform: translateY(-105%);
}

body.page-intro {
  background-image: linear-gradient(to bottom, #238bca, #1e5a96);
}

.intro-slider.slick-dotted {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 0;
  padding-bottom: 10vh;
  text-align: center;
}

.intro-slider .slick-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.intro-slider .slick-track {
  flex: 1;
  display: flex;
}

.intro-slider .slick-track::before {
  content: none;
  display: none;
}

.intro-slider .slick-slide {
  float: none;
  height: auto;
}

.intro-slider .slick-dots {
  bottom: 5vh;
}

.intro-slider h2 {
  margin-top: 0;
}

.intro-slider figure {
  margin: 0 auto;
  width: 96px;
}

.intro-slider figure > img {
  max-width: 100%;
}

.intro-slider .box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.intro-slider .box .paper-button {
  margin-top: 2.5rem;
}

.intro-slider .box:first-child figure {
  --width: 250px;
  position: absolute;
  width: var(--width);
  left: calc(50% + 20px - var(--width) / 2);
  bottom: calc(-10vh - 50px);
}
