.page-play-success main {
  background-color: #46bcc0;
}

.puzzle-solved {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.solved-background {
  background-image: url(pictures/star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  z-index: -1;
}
.liquid-animating .solved-background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.puzzle-solved h2 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 3rem;
}
.puzzle-solved h2 + p {
  margin-top: 0;
}
.puzzle-solved p {
  font-size: 1.5rem;
}

.timer-time-solved {
  font-size: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer-time-solved .paper-icon {
  color: rgba(255, 255, 255, 0.87);
  line-height: 0.8;
}

@media screen and (min-width: 321px) {
  .puzzle-solved h2 {
    font-size: 3.5rem;
  }
  .timer-time-solved {
    font-size: 56px;
  }
}
