<div class="typeset typeset-padding">
  <h2>Über Puzzle ITC GmbH</h2>

  <p>
    Puzzle ITC GmbH ist ein Open Source Dienstleister mit Hauptsitz in Bern und
    einer Niederlassung in Zürich. Wir setzen auf offene Technologien und
    Standards und leben die Philosophie der freien Software.
  </p>

  <h3>Kontakt</h3>
  <address>
    Puzzle ITC GmbH<br>
    <a href="https://www.puzzle.ch/">www.puzzle.ch</a><br>
    <a href="mailto:info@puzzle.ch">info@puzzle.ch</a><br>
    <a href="tel:0041313702200">+41 31 370 22 00</a>
  </address>
</div>
