<h2>Über Puzzle ITC</h2>

<p>
  Puzzle ITC ist ein Open Source Dienstleister mit Hauptsitz in Bern und einer
  Niederlassung in Zürich. Wir setzen auf offene Technologien und Standards
  und leben die Philosophie der freien Software.
</p>

<h3>Kontakt</h3>
<address>
  Puzzle ITC<br>
  www.puzzle.ch<br>
  info@puzzle.ch<br>
  031 370 22 00
</address>
