{{#app-sidenav currentRouteName=currentRouteName}}
  {{~app-toolbar~}}
  {{#liquid-spacer class="md-whiteframe-3dp"}}
    <div id="subtoolbar"></div>
  {{/liquid-spacer}}
  <main class="flex layout-column" role="main">
    {{~liquid-outlet class="application-outlet flex layout-column"~}}
  </main>
{{/app-sidenav}}
{{ember-notify messageStyle="bootstrap"}}
<div class="app-version">{{app-version}}</div>
