{{#slick-slider arrows=false dots=true}}
  <div class="box">
    Intro 1
  </div>
  <div class="box">
    Intro 2
  </div>
  <div class="box">
    Intro 3

    <div class="layout-row layout-align-center-center">
      {{#paper-button accent=true raised=true onClick=(route-action 'play')}}
        Start!
      {{/paper-button}}
    </div>
  </div>
{{/slick-slider}}
