{{#slick-slider class="intro-slider typeset" arrows=false dots=true infinite=false}}
  <div class="box typeset-padding">
    <h2>Puzzle Slider</h2>
    <p>
      Schiebe die einzelnen
      Teile so schnell wie möglich zu einem Bild!
    </p>
    <figure>
      <img src="assets/pictures/finger-all.png">
    </figure>
  </div>

  <div class="box typeset-padding">
    <h2>Wettbewerb</h2>
    <p>
      Wer das Puzzle am schnellsten löst,
      entscheidet, an welches Open Source Projekt
      Puzzle&nbsp;ITC 1'500 Franken spendet.
    </p>

    <figure class="flex layout-row layout-align-center-center">
      <img class="intro-gift" src="assets/pictures/present.svg">
    </figure>
  </div>

  <div class="box typeset-padding">
    <h2>Frohe Weihnachten</h2>
    <p>&hellip; und ein gutes neues Jahr wünscht dir Puzzle&nbsp;ITC</p>

    <figure class="flex layout-row layout-align-center-center">
      <img class="intro-tree" src="assets/pictures/tree.svg">
    </figure>

    <div class="layout-row layout-align-center-center">
      {{#paper-button accent=true raised=true onClick=(route-action 'play')}}
        Loslegen!
      {{/paper-button}}
    </div>
  </div>
{{/slick-slider}}
