<div class="solved-background"></div>
<div class="puzzle-solved flex">
  <h2>Geschafft!</h2>

  {{#best-time as |bestTime|}}
    <p>Gratulation!</p>

    <div class="timer-time timer-time-solved flex">
      <div>
        {{paper-icon "timer" size=56}}
        {{format-timer bestTime.latest}}
      </div>
    </div>

    {{#if (eq bestTime.latest bestTime.time)}}
      <p>
        Wow &ndash; neue Bestzeit!<br>
        Übermitteln und am<br>
        Wettbewerb teilnehmen?
      </p>
      <div class="layout-row layout-align-center-center">
        {{#paper-button onClick=(transition-to 'index')}}
          Nein
        {{/paper-button}}
        {{#paper-button
          primary = true
          raised = true
          onClick = (route-action 'transitionToSubmitTime')
          }}
          Übermitteln
        {{/paper-button}}
      </div>
    {{else}}
      <p>
        Leider nicht schnell genug.<br>
        Kopf hoch und nochmal spielen!
      </p>
      <div class="layout-row layout-align-center-center">
        {{#paper-button
          primary = true
          raised = true
          onClick = (transition-to 'play')
          }}
          Nochmal
        {{/paper-button}}
      </div>
    {{/if}}
  {{/best-time}}
</div>
