<div class="solved-background"></div>
{{#paper-form
  tagName="div"
  class="puzzle-solved flex"
  onSubmit=(route-action 'submitTime' (hash name=name email=email))
  as |f|}}
  <div class="timer-time timer-time-solved flex">
    <div>
      {{paper-icon "timer" size=56}}
      {{#best-time as |bestTime|}}
        {{format-timer bestTime.latest}}
      {{/best-time}}
    </div>
  </div>
  <p>
    Deine neue Bestzeit<br>
    übermitteln und<br>
    entscheiden, an welches<br>
    Open Source Projekt<br>
    Puzzle ITC<br>
    1'500 Franken spendet.
  </p>
  <div class="text-left">
    {{f.input
      label = "Name"
      value = name
      required = true
      onChange = (action (mut name))
      errorMessages = (hash required='Bitte gib deinen Namen ein.')
      }}
    {{f.input
      label = "Email"
      value = email
      type = "email"
      required = true
      onChange = (action (mut email))
      customValidations = emailValidations
      errorMessages = (hash required='Bitte gib deine E-Mail Adresse ein.')
      }}
  </div>
  <div class="layout-row layout-align-center-center">
    {{#paper-button onClick=(transition-to 'index')~}}
      Abbrechen
    {{~/paper-button}}
    {{#f.submit-button primary=true raised=true~}}
      Senden
    {{~/f.submit-button}}
  </div>
{{/paper-form}}
